<!DOCTYPE html>
<html>
<head>
<title >Tune Hub : Home</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
<link href="https://fonts.googleapis.com/css2?family=Rubik+Lines&family=Satisfy&display=swap" rel="stylesheet">

</head>
<body>
	<h1 style="color: white;">Enjoy The Music</h1>
	<br>
	<br>
	<br>
	<a style="color: black;font-size: 20px" href="login"><button type="submit">LOGIN</button></a>
	<a style="color: black;font-size: 20px" href="registration"><button type="submit">REGISTER</button></a>
	<h2 id="mid">Tune Hub🎧</h2>
</body>
</html>